
// body {
//     .mint-indicator {
//       -webkit-transition: opacity .2s linear;
//       transition: opacity .2s linear;

//     }
//     .mint-indicator-wrapper {
//         width:100%;
//         height:100%;
//         padding-top: 700px!important;
//         top: 50%;
//         left: 50%;
//         position: fixed;
//         -webkit-transform: translate(-50%, -50%);
//                 transform: translate(-50%, -50%);
//         border-radius: 5px;
//         background: rgba(0, 0, 0, 0.7);
//         color: white;
//         box-sizing: border-box;
//         text-align: center;
//     }
//     .mint-indicator-text {
//       display: block;
//       color: #fff;
//       text-align: center;
//       margin-top: 10px;
//       font-size: 80px;
//     }
//     .mint-spinner-snake{
//       width:200px!important;
//       height:200px!important;
//     }
//     .mint-indicator-spin {
//       display: inline-block;
//       text-align: center;
//     }
//     .mint-indicator-mask {
//       top: 0;
//       left: 0;
//       position: fixed;
//       width: 100%;
//       height: 100%;
//       opacity: 0;
//       background: transparent;
//     }
//     .mint-indicator-enter, .mint-indicator-leave-active {
//       opacity: 0;
//     }
// }
#loading{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 99%;
    height: 99%;
    color: #fff;
    box-shadow: 0 0 80px 1px #fff inset;
    background: rgba(0,0,0,0.66);
    &>span{
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    p{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: solid 1px #fff;
        font-size: 0.444444rem;
        padding: 0.185185rem 0.925926rem;
        background: rgba(100,120,96,0.8);
        // box-shadow: 0 0 40px 2px #fff;
        animation: loading 4s linear infinite alternate; 
    }
    @keyframes loading{
       0%{
           box-shadow: 0 0 50px 3px #fff;
       }
       100%{
           box-shadow: 0 0 50px 3px #333;
       }
    }
}