/*公共样式*/
body,h1,h2,h3,h4,p,ul,li,ol,dl,dd,dt{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.fl{
    float:left;
}
html,body{
    font-style: '微软雅黑';
    font-size: 48px;
    font-size: 48px;
    height:100%;
    background: #fff;
    margin: 0;
    padding: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  // font-size: 48px;
  /*color: #2c3e50;*/
  /*margin-top: 60px;*/
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

// input错误提示
input.error {
    border: 0.026667rem solid #ff3333!important;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.68,-.55,.265,1.55); 
    animation: inputmove .1s linear 6; 
}
@keyframes inputmove{
   0%{
       -webkit-transform: translate(0%, 1%);
          -moz-transform: translate(0%, 1%);
           -ms-transform: translate(0%, 1%);
            -o-transform: translate(0%, 1%);
               transform: translate(0%, 1%);
   }
   100%{
       -webkit-transform: translate(0%, -1%);
          -moz-transform: translate(0%, -1%);
           -ms-transform: translate(0%, -1%);
            -o-transform: translate(0%, -1%);
               transform: translate(0%, -1%);
   }
}
@-webkit-keyframes inputmove{
   0%{
        -webkit-transform: translate(0%, 1%);
           -moz-transform: translate(0%, 1%);
            -ms-transform: translate(0%, 1%);
             -o-transform: translate(0%, 1%);
                transform: translate(0%, 1%);
   }
   100%{
        -webkit-transform: translate(0%, -1%);
           -moz-transform: translate(0%, -1%);
            -ms-transform: translate(0%, -1%);
             -o-transform: translate(0%, -1%);
                transform: translate(0%, -1%);
   }
}
// 文本-错误提示
.TEXTerror {
    color: red!important;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.68,-.55,.265,1.55); 
    animation: inputmove .1s linear 6; 
}

// 输赢/加减分
.shu {
    position: relative;
    color: red;
    animation: shuyin 5s linear 2; 
    weight: 600;
}
.yin {
    position: relative;
    color: #33ffff;
    animation: shuyin 5s linear 2; 
    weight: 600;
}
@keyframes shuyin{
    0%{
        top: 50px;
        opacity: 0;
    }
    30%{
        top: 0px;
        opacity: 1;
    }
    60%{
        top: 0px;
        opacity: 1;
    }
    100%{
        top: -50px;
        opacity: 0;
    }
}
@-webkit-keyframes shuyin{
    0%{
        top: 50px;
        opacity: 0;
    }
    30%{
        top: 0px;
        opacity: 1;
    }
    60%{
        top: 0px;
        opacity: 1;
    }
    100%{
        top: -50px;
        opacity: 0;
    }
}

.care{
    width: 7.092593rem;
    border-radius: 0.277778rem;
    position: absolute;
    top:8.240741rem;
    span{
      display: block;
      color:white;
      font-size: 0.611111rem;
      width:8.87037rem;
      height:2.12963rem;
      line-height: 1.805556rem;
      background: url('/dist/module_home_no1.png') no-repeat;
      background-position: center;
      background-size: 8.87037rem 2.12963rem; 
      text-align: center;
      position: relative;
      right: 0.87037rem;
      bottom: 0.462963rem;
      
      i{
        position: absolute;
        font-size: 1.296296rem;
        color: #028B00;
        right: 1.111111rem;
      }
    }

    p{
      height: 1.666667rem;
      line-height: 0.925926rem;
      text-align: center;
      font-size: 0.42963rem;
      padding: 0 0.152593rem;
    }
    button{
      width:3.305556rem;
      height: 1.018519rem;
      line-height:0.925926rem;
      border-radius: 0.509259rem;
      font-size:0.555556rem;
      margin-bottom:0.462963rem;
      border: 0 none;
      color: white;
      background: url('/dist/home_all.png') -1.944444rem -1.388889rem no-repeat;
      background-size: 5.555556rem 5.555556rem;
    }
    button:active {
        position: relative;
        left: 0.018519rem;
        bottom: -0.046296rem;
    }
  }