//  Sprites size
$width600: 5.555556rem;
// room url
$roomAll: url('../../img/room_all.png');
$room02: url('../../img/room2.png');
$room04: url('../../img/room4.png');
$room07: url('../../img/room07.png');

// home url
$homeAll: url('../../img/home_all.png');
