/*公共样式*/ //care
body,h1,h2,h3,h4,p,ul,li,ol,dl,dd,dt{
    margin: 0; 
    padding: 0;
}

ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.fl{
    float:left;
}
input{
  outline: none;
}
button{
  -webkit-tap-highlight-color: #000000;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; 
}
html,body{
    font-style: '微软雅黑';
    font-size: 16px;
    // font-size: 62.5%;
    // font-size: 48px;
    height:100%;
    width:100%;
    height: 17.777778rem;
    width: 10.0rem;
    background: #fff;
    margin: 0;
    padding: 0;
    overflow:hidden;
    
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 17.777778rem;
  width: 10.0rem;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
//兼容性样式调整
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

#app::-webkit-scrollbar {
    width: 0px;
    height: 1px;
}
#app::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
} 

// input错误提示
input.error {
    border: 0.026667rem solid #ff3333!important;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.68,-.55,.265,1.55); 
    animation: inputmove .1s linear 6; 
}
@keyframes inputmove{
   0%{
       -webkit-transform: translate(0%, 1%);
          -moz-transform: translate(0%, 1%);
           -ms-transform: translate(0%, 1%);
            -o-transform: translate(0%, 1%);
               transform: translate(0%, 1%);
   }
   100%{
       -webkit-transform: translate(0%, -1%);
          -moz-transform: translate(0%, -1%);
           -ms-transform: translate(0%, -1%);
            -o-transform: translate(0%, -1%);
               transform: translate(0%, -1%);
   }
}
@-webkit-keyframes inputmove{
   0%{
        -webkit-transform: translate(0%, 1%);
           -moz-transform: translate(0%, 1%);
            -ms-transform: translate(0%, 1%);
             -o-transform: translate(0%, 1%);
                transform: translate(0%, 1%);
   }
   100%{
        -webkit-transform: translate(0%, -1%);
           -moz-transform: translate(0%, -1%);
            -ms-transform: translate(0%, -1%);
             -o-transform: translate(0%, -1%);
                transform: translate(0%, -1%);
   }
}

#iframeCss{
    height: 0;
    weight: 0;
    display: none;
}
@mixin iframeC02{
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transform: scale(1.6,1.6);
    background: #fcfcfc;
    z-index: 9999;
}
#iframeCss03{
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    // transform: scale(1.6,1.6);
    background: #fcfcfc;
    z-index: 9999;
}
#iframeCss02{
    @include iframeC02;
    [class*="col-"] {
        width: 100%;
    }
    @media only screen and (min-width: 768px) {
        /* For desktop: */
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}
    }
}
// @media screen and (max-width: 640px) {#iframeCss02{transform: scale(1,1);}}
// @media screen and (min-width: 640px) and (max-width: 730px) {
//     #iframeCss02{transform: scale(1.3,1.3);}
// }
// @media screen and (min-width: 750px) and (max-width: 1125px) {
//     #iframeCss02{transform: scale(1.5,1.5);}
// }
// @media screen and (min-width: 820px){
//     #iframeCss02{transform: scale(2.2,2.2);}
// } care


// 文本-错误提示
.TEXTerror {
    color: red!important;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.68,-.55,.265,1.55); 
    animation: inputmove .1s linear 6; 
}

// 输赢/加减分
.shu {
    position: relative;
    color: red;
    -webkit-animation: shuyin 5s linear 2; 
    animation: shuyin 5s linear 2; 
    weight: 600;
}
.yin {
    position: relative;
    color: #33ffff;
    -webkit-animation: shuyin 5s linear 2; 
    animation: shuyin 5s linear 2; 
    weight: 600;
}
@keyframes shuyin{
    0%{
        top: 50px;
        opacity: 0;
    }
    30%{
        top: 0px;
        opacity: 1;
    }
    60%{
        top: 0px;
        opacity: 1;
    }
    100%{
        top: -50px;
        opacity: 0;
    }
}
@-webkit-keyframes shuyin{
    0%{
        top: 50px;
        opacity: 0;
    }
    30%{
        top: 0px;
        opacity: 1;
    }
    60%{
        top: 0px;
        opacity: 1;
    }
    100%{
        top: -50px;
        opacity: 0;
    }
}

.care{
    border-radius: 0.277778rem;
    position: absolute;
    top:8.240741rem;

    width: 8.425926rem;
    height: 5.37037rem;
    background: url('../image/careTipK.png') no-repeat;
    background-size: 8.425926rem 5.37037rem; 
    span{
        display: block;
        color:white;
        font-size: 0rem;
        width:8.87037rem;
        height:2.12963rem;
        line-height: 1.805556rem;

        text-align: center;
        position: relative;
        right: 0.87037rem;
        bottom: 0.462963rem;
        position: relative;
        i{
            display: block;
            height: 0.611111rem;
            width: 0.611111rem;
            position: absolute;
            right: 0%;
            top: 50%;
            transform: translate(-80%, -50%);
            background: url('../image/careTip01.png') no-repeat;
            background-size: 0.611111rem 0.611111rem;
        }
    }

    p{
      width:6.62963rem;
      height: 1.666667rem;
      line-height: 0.725926rem;
      text-align: center;
      font-size: 0.42963rem;
      padding: 0 0.152593rem;
      position: relative;
      left: 50%;
      transform: translate(-50%,0);
      white-space: pre-wrap;
    }
    button{
      width:3.305556rem;
      height: 1.018519rem;
      line-height:0.925926rem;
      border-radius: 0.509259rem;
      font-size:0.555556rem;
      margin-bottom:0.462963rem;
      border: 0 none;
      color: white;
      background: url('../image/careTip.png') no-repeat;
      background-size: 3.305556rem 1.018519rem;
    }
    button:active {
        position: relative;
        left: 0.018519rem;
        bottom: -0.046296rem;
    }
}

//客服系统
.easemobim-mobile-body{
    transform: translate(50%,50%) scale(2,2);
    .easemobim-chat-panel.easemobim-mobile{
        width: 50%!important;
        height: 50%!important;
        left: 0!important;
        top: 0!important;
        right: auto!important;
        bottom: auto!important;
        border-radius: 0;
        box-shadow: none;
    }
}

// 录音样式
.rp {
    width: 260px;
    height: 280px;
    display: none;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    background: rgba(0,0,0,0.41);
    z-index: 9999;
    overflow: hidden;
    padding : 20px;
}
.rtime {
    font-size: 42px;
    // color: #FF0000;
    color: #101010;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-70%,0%);
    white-space : nowrap ;
}
.rs {
    font-size: 42px;
    color: #FF0000;
    // color: #000;
    position: absolute;
    right: 0%;
    bottom: 5%;
    transform: translate(-50%,0%);
    white-space : nowrap ;
}

.rprogress {
    height: 120px;
    width: 120px;
    background: url(../img/arecord.png) no-repeat center center;
    background-size: 120px 120px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}
.rschedule {
    background-color: rgba(0,0,0,0);
    border: 12px solid rgba(0,183,229,0.92);
    opacity: .9;
    border-left: 12px solid rgba(0,0,0,0);
    border-right: 12px solid rgba(0,0,0,0);
    border-radius: 50%;
    box-shadow: 0 0 26px #2187e7;
    position: absolute;
    left: -27px;
    top: -27px;
    // box-sizing: border-box;
    // width: 36px;
    // height: 36px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


