//  Sprites size
$w600: 5.555556rem;
// 随机庄背景颜色
$bgColor: #ccc;
// Image================================
// room url
$roomAll: url('../../img/room_all.png');
$room02: url('../../img/room2.png');
$room04: url('../../img/room4.png');
$room07: url('../../img/room07.png');

//login url 
$login01 : url('../../img/login.png');
$login02 : url('../../img/login0.png');
$login03 : url('../../img/z01.png');
$login04 : url('../../img/zhuce.png');

// X_login 
$login001 : url('../../image/login001.png'); // 登录页背景
$login002 : url('../../image/login002.png'); // logo
$login003 : url('../../image/login003.png'); // 微信登录
$login004 : url('../../image/login004.png'); // 手机登录
$login005 : url('../../image/login005.png'); // 登录 背景
$login006 : url('../../image/login006.png'); // 确认键
$login007 : url('../../image/login007.png'); // 注册/找回密码
$login008 : url('../../image/login008.png'); // 关闭叉叉
$login009 : url('../../image/login009.png'); // 验证码背景
$login010 : url('../../image/login010.png'); // 免密登录按钮

// X_oxCrowd
$oxCrowd_HDcha: url('../../image/HDcha.png'); // 加入房间关闭叉叉
$oxCrowd_LIBJ: url('../../image/oxCrowd001.png'); // li背景
$oxCrowd_BJKF: url('../../image/oxCrowd002.png'); // li背景开放
$oxCrowd_Join: url('../../image/oxCrowd003.png'); // 加入房间背景
$oxCrowd_LV: url('../../image/oxCrowd004.png'); // 加入房间绿色按钮
$oxCrowd_H: url('../../image/oxCrowd005.png'); // 加入房间黑色按钮
$oxCrowd_MY: url('../../image/oxCrowd006.png'); // 我的房间
$oxCrowd_KBJ: url('../../image/oxCrowd007.png'); // 选项卡背景
$oxCrowd_010: url('../../image/oxCrowd010.png'); // li羽毛

// X_home
$home_BJ: url('../../image/home001.png'); // 背景
$home_KF: url('../../image/KF001.png'); // 客服
$home_BLB: url('../../image/home002.png'); // 白喇叭
$home_HLB: url('../../image/home005.png'); // 黄喇叭
$home_FK: url('../../image/home003.png'); // 房卡


// home url
$homeAll: url('../../img/home_all.png');
$home01: url('../../img/home_ox.png');
$home02: url('../../img/module_home_buy1.png');
$home03: url('../../img/module_home_buy4.png');
$home04: url('../../img/JoinTOP.png');
$home05: url('../../img/inputJoinRoom.png');
$home06: url('../../img/module_home_myRoom4.png');
$home07: url('../../img/module_home_myRoom3.png');
$home08: url('../../img/module_home_no1.png');

//chart url
$chart01 : url('../../img/chart_Room6.png');
$chart02 : url("../../img/module_room_setOwner3.png") ;
$chart03 : url("../../img/chart_list2.png");
$chart04 : url("../../img/chart_list3.png");
$chart05 : url("../../img/module_room_setOwner1.png");

//friend url
$friend01 : url('../../img/friend2.png');
$friend02 : url('../../img/friend3.png');
$friend03 : url('../../img/friend4.png');



//idmessage url
$idmess01 : url('../../image/idMessage1.png');
$idmess02 : url('../../image/idMessage2.png');
$idmess03 : url('../../image/idMessage5.png');
$idmess04 : url('../../image/idMessage4.png');

// flex兼容处理器mixin  // @include
// @include flexbox();
@mixin flexbox() {  // display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

// @include box-sizing();
@mixin box-sizing() {       // box-sizing
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

// @include direction(val);
@mixin direction($val) {  // flex-direction: column;
    @if ($val==row) {
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
    }
    @if ($val==row-reverse) {
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        -webkit-box-direction: reverse;
        -moz-box-direction: reverse;
        box-direction: reverse;
    }
    @if ($val==column) {
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
    }
    @if ($val==column-reverse) {
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: reverse;
        -moz-box-direction: reverse;
        box-direction: reverse;
    }
    -webkit-flex-direction: $val;
    flex-direction: $val;
}

// @include justify-content($val);
@mixin justify-content($val) {
    @if ($val == flex-start) {
        -webkit-box-pack: start;
        -moz-box-pack: start;
        box-pack: start;
    }
    @if ($val == flex-end) {
        -webkit-box-pack: end;
        -moz-box-pack: end;
        box-pack: end;
    }
    @if ($val == center) {
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
    }
    @if ($val == space-between) {
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        box-pack: justify;
    }
    -webkit-justify-content: $val; 
    justify-content: $val; 
}

// @include flex-wrap();
@mixin flex-wrap($wrap) {
    @if ($wrap==nowrap) {
        -webkit-box-lines: single;
        -moz-box-lines: single;
        box-lines: single;
    }
    @if ($wrap==wrap) {
        -webkit-box-lines: multiple;
        -moz-box-lines: multiple;
        box-lines: multiple;
    }
    -webkit-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    flex-wrap: $wrap;
}

// @include align-itwms();
@mixin align-itwms($align-items) {
    @if ($align-items == flex-start) {
        -webkit-box-align: start;
        -moz-box-align: start;
        box-align: start;
    }
    @if ($align-items == flex-end) {
        -webkit-box-align: end;
        -moz-box-align: end;
        box-align: end;
    }
    @if ($align-items == center) {
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
    }
    @if ($align-items == baseline) {
        -webkit-box-align: baseline;
        -moz-box-align: baseline;
        box-align: baseline;
    }
    @if ($align-items == stretch) {
        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        box-align: stretch;
    }
    -webkit-align-items: $align-items;
    align-items: $align-items;
}

// @include flex();
@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -ms-box-flex:  $values;
    -o-box-flex:  $values;
    -webkit-flex: $values;
    -moz-flex: $values;
    -ms-flex: $values;
    -o-flex: $values;
    box-flex:  $values;
    flex: $values;
}

// @include order();
@mixin order($val) {
    -webkit-box-ordinal-group: $val;  
    -moz-box-ordinal-group: $val;     
    -ms-flex-order: $val;     
    -webkit-order: $val;  
    order: $val;
}

// @include translate(x,y);
@mixin translate($x,$y) {   // transform: translate(-50%, 28%);
    -webkit-transform: translate($x,$y);
       -moz-transform: translate($x,$y);
        -ms-transform: translate($x,$y);
         -o-transform: translate($x,$y);
            transform: translate($x,$y);
}

// @include transition(all,s);
@mixin transition($ele,$s){     // transition: all 1s;
    -webkit-transition: $ele $s;
       -moz-transition: $ele $s;
        -ms-transition: $ele $s;
         -o-transition: $ele $s;
            transition: $ele $s;
}

// @include animation($name,$s,$lin,$inf,$ali)
@mixin animation($name,$s,$lin,$inf,$ali) {    // animation
    -webkit-animation: $name $s $lin $inf $ali;
       -moz-animation: $name $s $lin $inf $ali;
        -ms-animation: $name $s $lin $inf $ali;
         -o-animation: $name $s $lin $inf $ali;
            animation: $name $s $lin $inf $ali;
}

// @include border-radius(xx);
@mixin border-radius($px) {
    -webkit-border-radius: $px;
       -moz-border-radius: $px;
        -ms-border-radius: $px;
         -o-border-radius: $px;
            border-radius: $px;
}

// @include transformRanT()
@mixin transformRanT($x,$y,$deg){
    -webkit-transform: translate($x, $y) rotateY($deg);
    -moz-transform: translate($x, $y) rotateY($deg);
    -ms-transform: translate($x, $y) rotateY($deg);
    -o-transform: translate($x, $y) rotateY($deg);
    transform: translate($x, $y) rotateY($deg);
}

// @include imgxx7();
@mixin imgxx7($item) {
    right: #{5.56-$item}rem;
}

@mixin imgxx5($item) {
    right: #{5.3-$item}rem;
}
