//  Sprites size idmess01 cc00
$w600: 5.555556rem;
// 随机庄背景颜色
$bgColor: #ccc;

// ttf 

// Image================================
// room url
$roomAll: url('../../img/room_all.png');


// X_login 
$login001 : url('../../image/login001.png'); // 登录页背景
$login002 : url('../../image/login002.png'); // logo
$login003 : url('../../image/login003.png'); // 微信登录
$login004 : url('../../image/login004.png'); // 手机登录
$login005 : url('../../image/login005.png'); // 登录 背景
$login006 : url('../../image/login006.png'); // 确认键
$login007 : url('../../image/login007.png'); // 注册/找回密码
$login008 : url('../../image/login008.png'); // 关闭叉叉
$login009 : url('../../image/login009.png'); // 验证码背景
$login010 : url('../../image/login010.png'); // 免密登录按钮


// X_oxCrowd
$oxCrowd_HDcha: url('../../image/HDcha.png'); // 加入房间关闭叉叉
$oxCrowd_LIBJ: url('../../image/oxCrowd000.png'); // li背景
$oxCrowd_BJKF: url('../../image/oxCrowd002.png'); // li背景开放
$oxCrowd_Join: url('../../image/oxCrowd003.png'); // 加入房间背景
$oxCrowd_LV: url('../../image/oxCrowd004.png'); // 加入房间绿色按钮
$oxCrowd_H: url('../../image/oxCrowd005.png'); // 加入房间黑色按钮
$oxCrowd_MY: url('../../image/oxCrowd006.png'); // 我的房间
$oxCrowd_KBJ: url('../../image/oxCrowd007.png'); // 选项卡背景
$oxCrowd_010: url('../../image/oxCrowd010.png'); // li羽毛
$oxCrowd_011: url('../../image/oxCrowd011.png'); // 创建房间背景
$oxCrowd_013: url('../../image/oxCrowd013.png'); // 加号
$oxCrowd_014: url('../../image/oxCrowd014.png'); // 减号
$oxCrowd_015: url('../../image/oxCrowd015.png'); // 购买房卡
$oxCrowd_016: url('../../image/oxCrowd016.png'); // 购买按钮
$oxCrowd_018: url('../../image/oxCrowd018.png'); // 红色圆×
$oxCrowd_019: url('../../image/oxCrowd019.png'); // 填写数量按钮


// X_home
$home_BJ: url('../../image/home001.png'); // 背景
$home_KF: url('../../image/KF001.png'); // 客服
$home_BLB: url('../../image/home002.png'); // 白喇叭
$home_HLB: url('../../image/home005.png'); // 黄喇叭
$home_FK: url('../../image/home003.png'); // 房卡
$buyRoom: url('../../image/buyRoom.png'); // 购买房卡背景

// x_room
$room001: url('../../image/room001.jpg'); // 主体背景
$room003: url('../../image/room003.png'); // 申请上庄
$room004: url('../../image/room004.png'); // 取消上庄
$room005: url('../../image/room005.png'); // 筹码栏背景
$room_left03: url('../../image/room_left03.png'); // 文字阴影
$room008: url('../../image/room008.png'); // 空位
$room009: url('../../image/room009.png'); // 玩法图标
$room010: url('../../image/room010.png'); // 音乐图标
$room011: url('../../image/room011.png'); // li背景
$room012: url('../../image/room012.png'); // 轮庄设置
$careTip01: url('../../image/careTip01.png'); // 绿色叉叉
$careTip: url('../../image/careTip.png'); // 圆形确认键
$room016: url('../../image/room016.png'); // 奖金分数
$room017: url('../../image/room017.png'); // 重新开局按钮
$room018: url('../../image/room018.png'); // 申请上庄
$room019: url('../../image/room019.png'); // 联系房主
$room020: url('../../image/room020.png'); // 下庄
$room021: url('../../image/room021.png'); // 解散房间
$room022: url('../../image/room022.png'); // 删除成员
$room023: url('../../image/room023.png'); // 退出房间
$room024: url('../../image/room024.png'); // 取消按钮
$room025: url('../../image/room025.png'); // 确认按钮
$room026: url('../../image/room026.png'); // 删除成员的钩
$room028: url('../../image/room028.png'); // 邀请好友
$room029: url('../../image/room029.png'); // 齿轮
$room030: url('../../image/room030.png'); // 我要下庄
$room031: url('../../image/room031.png'); // 庄背景 68px


// X_friend
$friend001: url('../../image/friend001.png'); // 主体背景
$friend002: url('../../image/friend002.png'); // 黑色箭头
$friend003: url('../../image/friend003.png'); // 黑色加号
$friend004: url('../../image/friend004.png'); // 系统消息
$friend005: url('../../image/friend005.png'); // 最近联系
$friend006: url('../../image/friend006.png'); // 好友
$friend007: url('../../image/friend007.png'); // 铃铛
$friend008: url('../../image/friend008.png'); // 好友添加
$friend009: url('../../image/friend009.png'); // 右箭头
$friend010: url('../../image/friend010.png'); // 弹窗背景
$friend011: url('../../image/friend011.png'); // 放大镜


// x_qun
$qun002: url('../../image/qun002.png'); // 聊天确认
$qun005: url('../../image/qun005.png'); // 加减分按钮



// home url careTip01
$homeAll: url('../../img/home_all.png');

$home02: url('../../img/module_home_buy1.png');

$home08: url('../../img/module_home_no1.png');



$chart01 : url('../../img/chart_Room6.png');

//friend url 024
$friend02 : url('../../img/friend3.png');
$friend03 : url('../../img/friend4.png');



//X_idmessage url
$idmess01 : url('../../image/idMessage1.png');
$idmess02 : url('../../image/idMessage2.png');
$idmess03 : url('../../image/idMessage5.png');
$idmess04 : url('../../image/idMessage4.png');

// flex兼容处理器mixin 
@mixin kabai() {    // 扑克摆位 
    
    img:nth-of-type(2){
        left: 0.62963rem;
        // z-index: 3;
    }
    img:nth-of-type(3){
        left: 1.037037rem;
        // z-index: 4;
    }
    img:nth-of-type(4){
        left: 1.435185rem;
        // z-index: 5;
    }
    img:nth-of-type(5){
        left: 1.833333rem;
        // z-index: 6;
    }    

}


@mixin flexbox() {  // display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

// @include box-sizing();
@mixin box-sizing() {       // box-sizing
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

// @include direction(val);
@mixin direction($val) {  // flex-direction: column;
    @if ($val==row) {
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
    }
    @if ($val==row-reverse) {
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        -webkit-box-direction: reverse;
        -moz-box-direction: reverse;
        box-direction: reverse;
    }
    @if ($val==column) {
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
    }
    @if ($val==column-reverse) {
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: reverse;
        -moz-box-direction: reverse;
        box-direction: reverse;
    }
    -webkit-flex-direction: $val;
    flex-direction: $val;
}

// @include justify-content($val);
@mixin justify-content($val) {
    @if ($val == flex-start) {
        -webkit-box-pack: start;
        -moz-box-pack: start;
        box-pack: start;
    }
    @if ($val == flex-end) {
        -webkit-box-pack: end;
        -moz-box-pack: end;
        box-pack: end;
    }
    @if ($val == center) {
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
    }
    @if ($val == space-between) {
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        box-pack: justify;
    }
    -webkit-justify-content: $val; 
    justify-content: $val; 
}

// @include flex-wrap();
@mixin flex-wrap($wrap) {
    @if ($wrap==nowrap) {
        -webkit-box-lines: single;
        -moz-box-lines: single;
        box-lines: single;
    }
    @if ($wrap==wrap) {
        -webkit-box-lines: multiple;
        -moz-box-lines: multiple;
        box-lines: multiple;
    }
    -webkit-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    flex-wrap: $wrap;
}

// @include align-itwms();
@mixin align-itwms($align-items) {
    @if ($align-items == flex-start) {
        -webkit-box-align: start;
        -moz-box-align: start;
        box-align: start;
    }
    @if ($align-items == flex-end) {
        -webkit-box-align: end;
        -moz-box-align: end;
        box-align: end;
    }
    @if ($align-items == center) {
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
    }
    @if ($align-items == baseline) {
        -webkit-box-align: baseline;
        -moz-box-align: baseline;
        box-align: baseline;
    }
    @if ($align-items == stretch) {
        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        box-align: stretch;
    }
    -webkit-align-items: $align-items;
    align-items: $align-items;
}

// @include flex();
@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -ms-box-flex:  $values;
    -o-box-flex:  $values;
    -webkit-flex: $values;
    -moz-flex: $values;
    -ms-flex: $values;
    -o-flex: $values;
    box-flex:  $values;
    flex: $values;
}

// @include order();
@mixin order($val) {
    -webkit-box-ordinal-group: $val;  
    -moz-box-ordinal-group: $val;     
    -ms-flex-order: $val;     
    -webkit-order: $val;  
    order: $val;
}

// @include translate(x,y);
@mixin translate($x,$y) {   // transform: translate(-50%, 28%);
    -webkit-transform: translate($x,$y);
       -moz-transform: translate($x,$y);
        -ms-transform: translate($x,$y);
         -o-transform: translate($x,$y);
            transform: translate($x,$y);
}

// @include transition(all,s);
@mixin transition($ele,$s){     // transition: all 1s;
    -webkit-transition: $ele $s;
       -moz-transition: $ele $s;
        -ms-transition: $ele $s;
         -o-transition: $ele $s;
            transition: $ele $s;
}

// @include animation($name,$s,$lin,$inf,$ali)
@mixin animation($name,$s,$lin,$inf,$ali) {    // animation
    -webkit-animation: $name $s $lin $inf $ali;
       -moz-animation: $name $s $lin $inf $ali;
        -ms-animation: $name $s $lin $inf $ali;
         -o-animation: $name $s $lin $inf $ali;
            animation: $name $s $lin $inf $ali;
}

// @include border-radius(xx);
@mixin border-radius($px) {
    -webkit-border-radius: $px;
       -moz-border-radius: $px;
        -ms-border-radius: $px;
         -o-border-radius: $px;
            border-radius: $px;
}

// @include transformRanT()
@mixin transformRanT($x,$y,$deg){
    -webkit-transform: translate($x, $y) rotateY($deg);
    -moz-transform: translate($x, $y) rotateY($deg);
    -ms-transform: translate($x, $y) rotateY($deg);
    -o-transform: translate($x, $y) rotateY($deg);
    transform: translate($x, $y) rotateY($deg);
}

// @include imgxx7();
@mixin imgxx7($item) {
    right: #{5.56-$item}rem;
}

@mixin imgxx5($item) {
    right: #{5.3-$item}rem;
}
