.varR_modal{
    position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background: #000;
        padding: 50px 200px;
}
// 消除浮动
.clear{
    clear: both;
}
// input错误提示
input.error {
    border: 2px solid #ff3333!important;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.68,-.55,.265,1.55); 
    animation: inputmove .1s linear 6; 
}

@keyframes inputmove{
   0%{
       transform: translate(0%, -2%);
   }
   100%{
       transform: translate(0%, 2%);
   }
}
@-webkit-keyframes inputmove{
   0%{
       transform: translate(0%, -2%);
   }
   100%{
       transform: translate(0%, 2%);
   }
}

// 创建房间
.Cvar{
    width: 900px;
    border-radius: 26px;
    padding: 32px 76px 20px 76px;
    box-sizing: border-box;
    // overflow-y: auto;
    // overflow-x: hidden;
    position: absolute;
    // @extend .fontSize;
    .fontSize{
        font-size: 44px;
        height: 44px;
        line-height: 46px;
        text-align: left;
    }
    // @extend .flex;
    .flex{
        display: flex;
        justify-content: space-between;
    }
    // 圆点 @extend .circle;
    .circle{
        margin-right: 20px;
        width: 66px;
        height: 66px;
        border-radius: 50%;
        background: #D3D3D3;
        float: left;
    }
    // 开关
    .onOff{
        .mint-switch {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            position: relative;
        }
        .mint-switch * {
            pointer-events: none;
        }
        .mint-switch-label {
            margin-left: 10px;
            display: inline-block;
        }
        .mint-switch-label:empty {
            margin-left: 0;
        }
        .mint-switch-core {
            display: inline-block;
            position: relative;
            width: 125px;
            height: 62px;
            border: 1px solid #d9d9d9;
            border-radius: 30px;
            box-sizing: border-box;
            background: #d9d9d9;
        }
        .mint-switch-core::after, .mint-switch-core::before {
            content: " ";
            top: 0;
            left: 0;
            position: absolute;
            -webkit-transition: -webkit-transform .3s;
            transition: -webkit-transform .3s;
            transition: transform .3s;
            transition: transform .3s, -webkit-transform .3s;
            border-radius: 15px;
        }
        .mint-switch-core::after {
            width: 58px;
            height: 58px;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
        }
        .mint-switch-core::before {
            width: 125px;
            height: 62px;
            border-radius: 30px;
            background-color: #fdfdfd;
        }
        .mint-switch-input {
            display: none;
        }
        .mint-switch-input:checked + .mint-switch-core {
            border-color: #26a2ff;
            background-color: #26a2ff;
        }
        .mint-switch-input:checked + .mint-switch-core::before {
            -webkit-transform: scale(0);
                    transform: scale(0);
        }
        .mint-switch-input:checked + .mint-switch-core::after {
            -webkit-transform: translateX(65px);
                    transform: translateX(65px);
        }
    }

    h3{
        border-bottom: 2px solid #E4E4E4;
        font-size: 64px;
        line-height: 64px;
        font-weight: 300;
        text-align: center;
        padding-bottom: 22px;
    }
    // 公共p
    p{
        // @extend .common;
        font-size: 44px;
        height: 44px;
        text-align: left;
    }
    input{
        outline: none;
    }
    ul.varRoomSet{
        // 房号
        li:nth-of-type(1){
            @extend .flex;
            label:nth-of-type(1){
                @extend .fontSize;
                padding: 36px 0 22px;
                span{
                    font-size: 42px;
                    color: #05B800;
                }
            }
            label:nth-of-type(2){
                float: right;
                text-align: right;
                font-size: 42px;
                line-height: 64px;
                padding-top: 22px;
                span{
                    margin-right: 24px;
                    // padding: 25px 0 14px;
                    width: 66px;
                    height: 66px;
                    border-radius: 10px;
                    background: #D3D3D3;
                    float: left;
                    
                }
            }
        }
        // 房名
        li:nth-of-type(2){
            height: 88px;
            padding-bottom: 24px;
            @extend .flex;
            span{
                @extend .fontSize;
                display: inline-block;
                padding: 20px 0 22px;
            }
            input{
                flex: 1;
                border: 2px solid #D2D2D2;
                border-radius: 10px;
                padding-left: 28px;
                font-size: 38px;
                line-height: 82px;
            }

        }
        // 新人进房确认
        li:nth-of-type(3){
            height: 64px;
            display: flex;
            align-items: center;
            &>span:nth-of-type(1){
                @extend .fontSize;
                display: inline-block;
                padding: 8px 23px 8px 0;
            }
        }
        // 玩法
        li:nth-of-type(4){
            height: 124px;
            padding: 24px 0 32px;
            box-sizing: border-box;
            display: flex;
            &>span:nth-of-type(1){
                @extend .fontSize;
                display: inline-block;
                padding: 12px 10px 10px 0; 
            }
            label{
                float: right;
                text-align: right;
                font-size: 42px;
                line-height: 64px;
                padding-right: 60px;
                span{
                    @extend .circle;
                }
            }
        }
        // 房间付费模式
        li:nth-of-type(5){
            p{
                @extend .fontSize;
                span{
                    float: right;
                    font-size: 38px;
                    line-height: 44px;
                    color: #0BBB0E;
                    text-decoration: underline;
                }
            }
            label{
                float: left;
                text-align: right;
                font-size: 42px;
                line-height: 64px;
                padding:20px 50px 24px 0;
                span{
                    @extend .circle;
                }
            }
        }
        // 倍率设置
        li:nth-of-type(6){
            p{
                @extend .fontSize;
                padding-bottom: 22px;
                span{
                    float: right;
                    font-size: 38px;
                    line-height: 44px;
                    color: #0BBB0E;
                    text-decoration: underline;
                }
            }
        }
        // 倍率dl
        li:nth-of-type(7){
            border: 2px solid #D1D1D1;
            border-radius: 16px;
            padding: 32px 20px 16px 68px;
            dl{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                    text-align: left;
                dt{
                    width: 100%;
                    height: 38px;
                    font-size: 38px;
                    line-height: 38px;
                    padding: 0 0 22px;
                }
                dd{
                    width: 33%;
                    height: 52px;
                    font-size: 38px;
                    line-height: 52px;
                }
                dd:last-child{
                    flex: 1;
                    float: left;
                    text-align: left;
                }
            }
        }
        // 可下注时间：
        li:nth-of-type(8){
            padding: 22px 0 26px;
            p{
                @extend .fontSize;
            }
            .divTime{
                @extend .flex;
                flex-wrap: wrap;
            }
            label{
                width: 33%;
                text-align: left;
                font-size: 42px;
                line-height: 64px;
                padding:20px 0px 0px;
                span{
                    @extend .circle;
                }
            }
        }
        // 最低上庄分数
        li:nth-of-type(9){
            p{
                @extend .fontSize;
            }
            input{
                margin-top: 10px;
                padding-left: 20px;
                font-size: 36px;
                line-height: 82px;
                height: 82px;
                width: 100%;
                box-sizing: border-box;
                border: 2px solid #D3D3D3;
                border-radius: 10px;
                color: #0DC108;
            }
        }
        // 玩家下注范围：
        li:nth-of-type(10){
            padding: 20px 0 16px;
            display: flex;
            width: 100%;
            span{
                @extend .fontSize;
                display: inline-block;
                width: 312px;
                padding: 22px 0px 20px 0; 
                white-space: nowrap;
            }
            input{
                width: 170px;
                height: 88px;
                border: 2px solid #D5D5D5;
                border-radius: 10px;
                box-sizing: border-box;
                text-align: center;
                font-size: 38px;
                color: #06BC05;
                margin-right: 15px;
            }
            input:last-child{
                margin-left: 15px;
                margin-right: 0px;
            }
            i{
                display: inline-block;
                width: 35px;
                height: 4px;
                background: #9E9E9E;
                margin-top: 38px;
                // margin-top: -10px;
                position: relative;
            }
        }
        // 抽庄赢分比例
        li:nth-of-type(11){
            height: 127px;
            span{
                @extend .fontSize;
                display: inline-block;
                padding: 20px 0 22px;
                float: left;
            }
            input{
                float: left;
                width: 250px;
                height: 88px;
                border: 2px solid #D5D5D5;
                border-radius: 10px;
                box-sizing: border-box;
                text-align: center;
                font-size: 38px;
                color: #06BC05;
                margin-right: 15px;
            }
            span:last-child{
                color: #14BE1D;
                font-size: 34px;
                line-height: 54px;
                &>span{
                    font-size: 42px;
                    line-height: 42px;
                    padding: 0;
                }
            }
        }
    }
    button{
      color: #fff;
      width:357px;
      height: 110px;
      border-radius: 55px;
      line-height: 100px;
      font-size:60px;
      border: none;
      background: url(../../img/home_all.png) -210px -150px no-repeat;
      background-size: 600px 600px;
    }
}
// 功能未开放
.clo{
    //关闭叉叉
    position: absolute;
    background: url(../../img/home_all.png) -190px -260px no-repeat;
    background-size: 600px 600px;
    height: 39px;
    width: 39px;
}
.no{
    width: 843px;
    height: 300px;
    border-radius: 26px;
    margin-top: -26%;
    .close{
            @extend .clo;
            right: 38px;
            top: 30px;
        }
    p{
        color: #FF3C00;
        font-size: 50px;
        text-align: center;
        line-height: 300px;
    }
}
// 付费详情
.card{
    width: 936px;
    margin-top: 10%;
    position: absolute;
    border: 3px solid #000;
    border-radius: 40px;
    padding: 42px 50px 50px;
    box-sizing: border-box;
    // left:-50px;
    p{
        height: 70px;
        font-size:70px;
        line-height:70px;
        width: 830px;
        padding: 0px 0 32px;
        border-bottom: 2px solid #C9C9C9;
        text-align:center;
        .close{
            position: absolute;
            background: url(../../img/home_all.png) -100px -250px no-repeat;
            background-size: 600px 600px;
            height: 57px;
            width: 57px;
            right: 38px;
            top: 47px;
        }
    }
    div{
        position:relative;
        margin-top: 40px;
        width:830px;
        height:1030px;
        background-color: #E6E6E6;
    }
}
// 倍率设置
.set{
    // border: 3px solid #000;
    width: 1032px;
    // margin-top:10%;
    position: absolute;
    border-radius: 30px;
    padding: 42px 50px 30px;
    box-sizing: border-box;
    .top{
        font-size: 64px;
        line-height: 64px;
        color: #3D3D3D;
        text-align: center;
        padding-bottom: 38px;
        border-bottom: 2px solid #CBCBCB;
        .close{
            position: absolute;
            background: url(../../img/home_all.png) -190px -260px no-repeat;
            background-size: 600px 600px;
            height: 57px;
            width: 57px;
            right: 50px;
            top: 45px;
        }
    }


    .DLUL {
        p{
            color: #F44400;
            font-size: 40px;
            line-height: 40px;
            padding: 32px 0 52px;
            text-align: center;
        }
        dl{
            border-bottom: 2px solid #CACACA;
            dt{
                width: 190px;
                font-size: 50px;
                line-height: 54px;
                color: #0AB902;
                float: left;
            }
            // 单选框
            dd .dd_radio{
                // mint-radio-core #26a2ff
                display: flex;
                flex-wrap: wrap;
                border: 0 none;
                // radio
                .mint-radiolist .mint-cell {
                    padding: 0;
                }
                .mint-radiolist-label {
                    display: block;
                    // padding: 0 10px;
                    width: 30%;
                    display: flex;
                }
                .mint-radiolist-label:last-child {
                    width: 400px;
                    padding: 0;
                    margin: 35px 10px 28px;
                }
                .mint-radio.is-right {
                    float: right;
                }
                .mint-radio-label {
                    vertical-align: middle;
                    margin-left: 6px;
                    font-size: 38px;
                    line-height: 60px;
                }
                .mint-radio-input {
                    display: none;
                }
                .mint-radio-input:checked + .mint-radio-core {
                    background-color: #26a2ff;
                    border-color: #26a2ff;
                }

                .mint-radio-input:checked + .mint-radio-core::after {
                    background-color: #fff;
                    -webkit-transform: scale(1);
                            transform: scale(1);
                }
                .mint-radio-input[disabled] + .mint-radio-core {
                    background-color: #d9d9d9;
                    border-color: #ccc;
                }
                .mint-radio-core {
                    box-sizing: border-box;
                    display: inline-block;
                    background-color: #fff;
                    border-radius: 100%;
                    border: 1px solid #ccc;
                    position: relative;
                    width: 60px;
                    height: 60px;
                    vertical-align: middle;
                    margin-right: 20px;
                }
                .mint-radio-core::after {
                    content: " ";
                    border-radius: 100%;
                    top: 7px;
                    left: 7px;
                    position: absolute;
                    width: 44px;
                    height: 44px;
                    -webkit-transition: -webkit-transform .2s;
                    transition: -webkit-transform .2s;
                    transition: transform .2s;
                    transition: transform .2s, -webkit-transform .2s;
                    -webkit-transform: scale(0);
                            transform: scale(0);
                } 
            }
        }

        ul{
            font-size: 50px;
            display: flex;
            flex-wrap: wrap;
            padding: 35px 0 0;
            li{
                width: 48%;
                float:left;
                color:#0BBF0A;
                margin-bottom: 30px;
                span{
                    width: 196px;
                    display: inline-block;
                    font-size: 50px;
                    float: left;
                }
                .add{
                    margin: 0 -60px;
                    float: right;
                    button {
                        float: left;
                        display: inline-block;
                        width: 60px;
                        height: 60px;
                        font-size:60px;
                        border: none;
                        float: left;
                        background: url(../../img/home_all.png) -80px -330px no-repeat;
                        background-size: 600px 600px;
                        position: relative;
                        transform: translate(66px, 4px);
                    }
                    button:last-child {
                        background: url(../../img/home_all.png) -0px -330px no-repeat;
                        background-size: 600px 600px;
                        transform: translate(-64px, 4px);
                    }
                    button:active{
                        position: relative;
                        border-radius: 30px;
                        left: 1px ;
                        top: 3px ;
                    }
                } 
            }
        }    
    }
    &>button{
        &:active{
            position: relative;
            top: 5px;
            left: 1px;
        }
      color: #fff;
      width: 356px;
      height: 108px;
      font-size:60px;
      border-radius: 54px;
      border: none;
      background: url(../../img/home_all.png) -210px -150px no-repeat;
      background-size: 600px 600px;
    }
}

