.pub{
    color: #fff;
    font-size: 24px;
    display:inline-block;
}
// room01
#room {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

    header {
        height: 290px;
        padding: 110px 0px 0px;
        box-sizing: border-box;
        background: #2F2E34;
        color: #fff;
        ul {
            height: 82px;
            display: flex;
            // border-top: 1px solid #fff;
            padding-top: 8px;
            li {
                flex: 1;
                // align-content: center;
                display: flex;
                justify-content: space-around;
            }
            li:first-child {
                // align-self: baseline;
                &>i {
                    display: inline-block;
                    width: 70px;
                    height: 55px;
                    margin-top: -4px;
                    background: url('../../img/room_all.png') -470px -160px no-repeat;
                    background-size: 600px;
                    a {
                        padding: 28px 40px;
                    }
                }
                &>span {
                    display: inline-block;
                    vertical-align: top;
                    height: 56px;
                    line-height: 56px;
                    font-size: 44px;
                    i{
                        color: #FFE87A;
                        font-style: normal;
                    }
                }
                p {
                    display: inline-block;
                    background: #FF4B1A;
                    border-radius: 10px;
                    color: #333;
                    height: 56px;
                    position: relative;
                    // 弹出框
                    .gameStyle{
                        position: absolute;
                        width: 100%;
                        // top: 230px;
                        border-radius: 30px;
                        transform: translate(-50%, 28%);
                        border: 1px solid #F2D923;
                        span{
                            width: 100%;
                            padding: 0;
                            height: 80px;
                            line-height: 80px;
                        }
                        span:nth-of-type(3){
                             border: none;
                        }
                        .triangle-up {
                            position: absolute;
                            right: 10px;
                            top: -20px;
                            width: 0;
                            height: 0;
                            border-left: 20px solid transparent;
                            border-right: 20px solid transparent;
                            border-bottom: 30px solid #fff;
                        }
                    }
                    span{
                        display: inline-block;
                        top: 0;
                        left: 0;
                        text-align: center;
                        height: 56px;
                        font-size: 40px;
                        line-height: 56px;
                        vertical-align: top;
                        padding: 0 14px;
                    }
                    &>i{
                        display: inline-block;
                        width: 56px;
                        height: 56px;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        background: #fff;
                        position: relative;
                        margin-left: -8px;
                        b{
                            width: 0;
                            height: 0;
                            border-width: 20px 12px 0;
                            border-style: solid;
                            border-color: #333 transparent transparent;/*灰 透明 transparent透明 */
                            margin: 0px auto;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
                p.open {
                    background: #0BB90A;
                }
            }
            li:last-child {
                font-size: 44px;
                span{
                    display: inline-block;
                    vertical-align: top;
                    padding-left: 60px;
                    position: relative;
                    height: 56px;
                    line-height: 56px;
                    i{
                        position: absolute;
                        left: 0%;
                        top: 50%;
                        transform: translate(0%, -50%);
                        width: 49px;
                        height: 49px;
                        background: url('../../img/room_all.png') -170px -165px no-repeat;
                        background-size: 600px;
                    }
                }
                span:last-child i{
                    width: 45px;
                    height: 47px;
                    background: url('../../img/room_all.png') -250px -165px no-repeat;
                        background-size: 600px;
                }
            }
        }
        dl{
            height: 90px;
            background: #404042;
            display: flex;
            font-size: 38px;
            position: relative;
            // justify-content: space-around;
            justify-content: center;
            dt{
                width: 149px;
                height: 155px;
                position: absolute;
                top: 18px;
                left: 15px;
                img{width: 100%; height: 100%;}
            }
            dd:nth-of-type(1){
                line-height: 88px;
                padding-right: 5px;
                min-width: 260px;
                text-align: left;
                white-space: wrap;
            }
            dd:nth-of-type(2){
                line-height: 88px;
                padding-left: 5px;
                width: 380px;
                text-align: left;
                span{
                    color: #0DB80A;
                }
            }
            dd:nth-of-type(3){
                line-height: 88px;
                min-width: 260px;
                text-align: left;
                span{
                    color: #0DB80A;
                }
            }
            dd:nth-of-type(4){
                line-height: 88px;
                padding-right: 00px;
                width: 380px;
                // text-align: left;
                i{
                    display: inline-block;
                    width: 52px;
                    height: 53px;
                    margin-right: 12px;
                    position: relative;
                    left: 0;
                    top: 46%;
                    transform: translate(0, -50%);
                    background: url('../../img/room_all.png') -320px -165px no-repeat;
                    background-size: 600px;
                }
            }
            dd:nth-of-type(5){
                height: 72px;
                line-height: 70px;
                width: 240px;
                border-radius: 36px;
                box-shadow: 0px 2px 3px 1px #2F2F25;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translate(0, -50%);
                background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#26CD4A), to(#108721));
                background: -webkit-linear-gradient(top, #26CD4A, #108721);
                i{
                    display: inline-block;
                    width: 39px;
                    height: 39px;
                    margin-right: 0px;
                    position: relative;
                    left: 0;
                    top: 50%;
                    transform: translate(0, -76%);
                    background: url('../../img/room_all.png') -400px -170px no-repeat;
                    background-size: 600px;
                }
            }
            dd:last-child{
                color: #fff;
                height: 60px;
                font-size: 30px;
                line-height: 60px;
                background: #222;
                opacity: 0.6;
                border-radius: 28px;
                position: absolute;
                right: 0px;
                margin-right: 14px;
                bottom: -72px;
                width: 80%;
                span{
                    float: left;
                    font-size: 30px;
                    line-height: 60px;
                    padding-left: 94px;

                }
                i{
                    position: absolute;
                    left: 0px;
                    top: 50%;
                    margin-left: 2px;
                    transform: translate(-20%,-50%);
                    text-align: left;
                    left: 26px;
                    display: inline-block;
                    width: 54px;
                    height: 47px;
                    background: url(../../img/home_all.png) -240px 0px no-repeat;
                    background-size: 600px 600px;
                }
            }  
        }
    }
    .roomMain{
        flex: 1;
        padding: 130px 0 68px;
        margin-bottom: -20px;
        background: url('../../img/room07.png') no-repeat;
        display: flex;
        justify-content: space-between;
        @mixin LR {
            border-radius: 6px;
            width: 166px;
            height: 100%;
            padding-top: 6px;
            background-origin: content-box;
        }

        

        // @include xx
        .left {
            @include LR;
            ul {
                display: flex;
                flex-direction: column;
                height: 1300px;
                background:url('../../img/room2.png') no-repeat;
                border-radius:5px;
                width:166px;
                
                li{
                    width: 100%;
                    height: 193px;
                    &>div {
                         width:150px;
                         height:155px;
                         position:relative;
                         left:50%;
                         top: 50%;
                         transform: translate(-50%, -50%);
                         
                        span{
                            @extend .pub;
                            position:relative;
                            top:80px;
                        }
                    }
                    p {
                        font-size: 24px;
                        color: #fff;
                        padding-top: 10px;
                    }
                }
                li:nth-of-type(2){
                    div{
                        background: url('../../img/room_all.png') -150px 0px no-repeat;
                        background-size:600px 600px;
                    }        
                }
                li:nth-of-type(3){
                    div{
                        background: url('../../img/room_all.png') -300px 0px no-repeat;
                        background-size:600px 600px;
                    }        
                }
                li:nth-of-type(4){
                    div{
                        background: url('../../img/room_all.png') -450px 0px no-repeat;
                        background-size:600px 600px;
                    }        
                }
                li:nth-of-type(5){
                    div{
                        background: url('../../img/room_all.png') -450px 0px no-repeat;
                        background-size:600px 600px;
                    }        
                }
                li:nth-of-type(6){
                    div{
                        background: url('../../img/room_all.png') -450px 0px no-repeat;
                        background-size:600px 600px;
                    }        
                }

                li:first-child {
                    height: 232px;
                    background-color: #3D3D3D;
                    border-radius:5px 5px 0px 0px;
                    p{
                       padding-top: 20px;
                    }
                    div{
                        background: url('../../img/room_all.png') -0px 0px no-repeat;
                        background-size:600px 600px;
                        position:relative;
                         left:50%;
                         top: 50%;
                         transform: translate(-50%, -55%);
                         img{
                             position:absolute;
                             left:55px;
                             top:-34px;
                         }
                    }

                    

                }
                li:last-child {
                    width:150px;
                    height: 56px;
                    line-height:56px;
                    text-align:center;
                    font-size:30px;
                    background:url('../../img/room_all.png') 0px -160px no-repeat;
                    background-size:600px 600px;
                    color:#6E410F;
                    font-weight: bold;
                    position:relative;
                     left:50%;
                     transform: translate(-50%, 50%);

                }

            }
        }
        .center {
            position:relative;
            bottom:30px;
            flex: 1;
            h1{
                font-size:48px;
                span{
                    color:red;
                }

            }
            p{
                font-size:38px;
                color:#508F31;
            }
            ul{

                li{
                    clear: both;
                    border-radius:10px;
                    border:4px solid #DFDEDC;
                    span{
                        font-size:30px;
                        float:right;
                        text-align:left;
                        color:red;
                    
                    }
                }
                

                li.a5{
                    width:690px;
                    height:150px;
                    padding:34px 0px 32px 25px;
                    margin-left:10px;
                    margin-top:10px;
                    position: relative;
                    img{
                        float:left;
                        margin-left:5px;
                    }
                    span{
                        position:relative;
                        padding-right:10px;
                        b{
                            color:black;
                        }
                    }
                }
            li.a5:nth-of-type(3){
                    border:5px solid #F9BA6A;
                    .zhuang{
                    position:relative;
                    transform: translate(-10%, 30%);      
                } 
            }
            li.a5:nth-of-type(4){
                span{
                    position:relative;
                    transform: translate(0%, 50%); 
                }       
            }

             li.b7{
                    height:145px;
                    width:720px;
                    padding-top:8px;
                    margin-left:10px;
                    margin-top:15px;
                    position: relative;
                    img{
                        float:left;
                        margin-left:5px;
                    }
                    span{
                        text-align:center;
                        b:nth-of-type(1){
                            display:inline-block;
                            width:108px;
                            height:67px;
                            line-height:90px;
                            background:url('../../img/room_all.png') -160px -150px no-repeat;
                            background-size:600px 600px;
                            color:#FBDD2A;
                            font-size:28px;
                        }  
                        b:nth-of-type(2){
                            color:black;
                        }
                        position:relative;
                        margin-right:30px;
                    }
                }
                li.b7:nth-of-type(4){
                    border:5px solid #F9BA6A;
                    span{
                        position:relative;
                        transform: translate(-10%, 30%); 
                    }            
                }
    }
}

        .right {
            @include LR;
            ul::-webkit-scrollbar{display: none;}
            ul {
                overflow-y: auto;
                overflow-x: hidden;
                display: flex;
                flex-direction: column;
                height: 99%;
                background: url('../../img/room2.png') no-repeat;
                border-radius: 5px;
                width: 166px;
                li{
                    width: 100%;
                    height: 196px;
                    &>div {
                         background: url('../../img/room_all.png') 0px -240px no-repeat;
                         background-size:600px 600px;
                         width:150px;
                         height:155px;
                         position:relative;
                         left:50%;
                         top: 50%;
                         transform: translate(-45%, -50%);
                         
                        span{
                            @extend .pub;
                            position:relative;
                            top:80px;

                        }
                    }
                    p {
                        font-size: 24px;
                        color: #fff;
                        margin-top: 8px;
                    }
                }
            }
        }
    }
    // 底部
    footer{
        height: 137px;
        z-index: 1;
        border-top: 7px solid #474747;
        border-top-left-radius: 26px;
        border-top-right-radius: 26px;
        background: #2B2B2B;
        .roomScore{
            position: relative;
            right: 0;
            top: -4px;
            width: 264px;
            height: 137px;
            border-top: 7px solid #3A8C4A;
            border-top-right-radius: 26px; 
            background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#12B633), to(#0D7B22));/*谷歌*/ 
            background: -webkit-linear-gradient(top, #12B633, #0D7B22);   /*Safari5.1 Chrome 10+*/

        }
        ul {
            z-index: 2;
            display: flex;
            height: 100%;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            li {
                flex: 1;
                text-align: center;
                a {
                    color: #fff;
                }
            }
            li:last-child {
                display: flex;
                flex-direction: column;
                justify-content: center;
                z-index: 3;
                b{
                    font-size: 38px;
                    line-height: 38px;
                }
                b:first-child{
                    color: #FDFF67;
                    padding-bottom: 10px;
                }
                b:last-child{
                    padding-top: 10px;
                    color: #03360B;
                }
            }
        }
    }   
}

.testCard.a5{
    img {
        float: none;
        margin: 0;
        position: absolute;
        height: 0px;
        width: 0px;
        top: -100px;
        right: 17px;
        z-index: 99;
    }
    // 卡牌出现
    img.start {
        height: 172px;
        width: 124px;
        transition: all 0.6s;
    }
    // 发牌动效
    @mixin img5 {
        height: 142px;
        width: 99px;
        top: 30px;
        transform: translate(-400%, 0px);
    }
    img.card01 {
        @include img5;
        right: 192px;
        transition: all 0.6s;
    }
    img.card02 {
        @include img5;
        right: 88px;
        transition: all 0.6s .3s;
    }
    img.card03 {
        @include img5;
        right: -19px;
        transition: all 0.6s .6s;
    }
    img.card04 {
        @include img5;
        right: -122px;
        transition: all 0.6s .9s;
    }
    img.card05 {
        @include img5;
        right: -227px;
        transition: all 0.6s 1.2s;
    }
}

.testCard.b7{
    img {
        float: none;
        margin: 0;
        position: absolute;
        height: 172px;
        width: 124px;
        top: -20px;
        right: 44px;
        z-index: 99;
        // transform: translate(-50%,0);
    }
    img.card01 {
        height: 142px;
        width: 99px;
        top: 8px;
        right: 220px;
        transform: translate(-400%, 0px);
        transition: all 0.6s;
    }
    img.card02 {
        height: 142px;
        width: 99px;
        top: 8px;
        right: 120px;
        transform: translate(-400%, 0px);
        transition: all 0.6s .3s;
    }
    img.card03 {
        height: 142px;
        width: 99px;
        top: 8px;
        right: 16px;
        transform: translate(-400%, 0px);
        transition: all 0.6s .6s;
    }
    img.card04 {
        height: 142px;
        width: 99px;
        top: 8px;
        right: -92px;
        transform: translate(-400%, 0px);
        transition: all 0.6s .9s;
    }
    img.card05 {
        height: 142px;
        width: 99px;
        top: 8px;
        right: -200px;
        transform: translate(-400%, 0px);
        transition: all 0.6s 1.2s;
    }
}