@import '../../utils/baseVar.scss';

$h56: 0.518519rem;
$fsize24: 0.222222rem;
$fsize30: 0.277778rem;
$fsize38: 0.351852rem;
$fsize40: 0.37037rem;
$fsize44: 0.407407rem;

.pub{
    color: #fff;
    font-size: $fsize24;
    display:inline-block;
    position: absolute;
    bottom: 0.046296rem;
    #{$h}: 0.333333rem;
    line-#{$h}: 0.333333rem;
    left: 0;
    #{$w}: 100%;
    #{$bg}-color:rgba(32,16,17,0.63);
}
// room01
#room {
    display: flex;
    flex-direction: column;
    #{$h}: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

    header {
        #{$h}: 2.685185rem;
        padding: 1.018519rem 0.0rem 0.0rem;
        box-sizing: border-box;
        #{$bg}: #2F2E34;
        color: #fff;
        ul {
            #{$h}: 0.759259rem;
            display: flex;
            // border-top: 1px solid #fff; // yin
            padding-top: 0.074074rem;
            li {
                flex: 1;
                // align-content: center;
                display: flex;
                justify-content: space-around;
                a{
                    color: #fff;
                }
            }
            li:first-child {
                // align-self: baseline;
                &>i {
                    display: inline-block;
                    #{$w}: 0.648148rem;
                    #{$h}: 0.509259rem;
                    margin-top: -0.037037rem;
                    #{$bg}: $roomAll -4.351852rem -1.481481rem no-repeat;
                    #{$bg}-size: $w600;
                    a {
                        padding: 0.259259rem 0.37037rem;
                    }
                }
                &>span {
                    display: inline-block;
                    vertical-align: top;
                    #{$h}: $h56;
                    line-#{$h}: $h56;
                    font-size: $fsize44;
                    i{
                        color: #FFE87A;
                        font-style: normal;
                    }
                }
                p {
                    display: inline-block;
                    #{$bg}: #FF4B1A;
                    border-radius: 0.092593rem;
                    color: #333;
                    #{$h}: $h56;
                    position: relative;
                    // 弹出框
                    .gameStyle{
                        position: absolute;
                        #{$w}: 100%;
                        // top: 230px;
                        border-radius: 0.277778rem;
                        #{$tf}: translate(-50%, 28%);
                        border: 0.009259rem solid #F2D923;
                        span{
                            #{$w}: 100%;
                            padding: 0;
                            #{$h}: 0.740741rem;
                            line-#{$h}: 0.740741rem;
                        }
                        span:nth-of-type(3){
                             border: none;
                        }
                        .triangle-up {
                            position: absolute;
                            right: 0.092593rem;
                            top: -0.185185rem;
                            #{$w}: 0;
                            #{$h}: 0;
                            border-left: 0.185185rem solid transparent;
                            border-right: 0.185185rem solid transparent;
                            border-bottom: 0.277778rem solid #fff;
                        }
                    }
                    span{
                        display: inline-block;
                        top: 0;
                        left: 0;
                        text-align: center;
                        #{$h}: $h56;
                        font-size: $fsize40;
                        line-#{$h}: $h56;
                        vertical-align: top;
                        padding: 0 0.12963rem;
                    }
                    &>i{
                        display: inline-block;
                        #{$w}: $h56;
                        #{$h}: $h56;
                        border-top-right-radius: 0.092593rem;
                        border-bottom-right-radius: 0.092593rem;
                        #{$bg}: #fff;
                        position: relative;
                        vertical-align: text-top;
                        margin-top: -0.008519rem;
                        margin-left: -0.074074rem;
                        z-index: 2;
                        b{
                            #{$w}: 0;
                            #{$h}: 0;
                            border-#{$w}: 0.185185rem 0.111111rem 0;
                            border-style: solid;
                            border-color: #333 transparent transparent;/*灰 透明 transparent透明 */
                            margin: 0.0rem auto;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            #{$tf}: translate(-50%, -50%);
                        }
                    }
                }
                p.open {
                    #{$bg}: #0BB90A;
                }
            }
            li:last-child {
                font-size: $fsize44;
                span{
                    display: inline-block;
                    vertical-align: top;
                    padding-left: 0.555556rem;
                    position: relative;
                    #{$h}: $h56;
                    line-#{$h}: $h56;
                    i{
                        position: absolute;
                        left: 0%;
                        top: 50%;
                        #{$tf}: translate(0%, -50%);
                        #{$w}: 0.453704rem;
                        #{$h}: 0.453704rem;
                        #{$bg}: $roomAll -1.574074rem -1.527778rem no-repeat;
                        #{$bg}-size: $w600;
                    }
                }
                span:last-child i{
                    #{$w}: 0.416667rem;
                    #{$h}: 0.435185rem;
                    #{$bg}: $roomAll -2.314815rem -1.527778rem no-repeat;
                        #{$bg}-size: $w600;
                }
            }
        }
        dl{
            #{$h}: 0.833333rem;
            #{$bg}: #404042;
            display: flex;
            font-size: $fsize38;
            position: relative;
            // justify-content: space-around;
            justify-content: center;
            dt{
                #{$w}: 1.37963rem;
                #{$h}: 1.435185rem;
                position: absolute;
                top: 0.166667rem;
                left: 0.138889rem;

                img{#{$w}: 100%; #{$h}: 100%;}
            }
            dt.DTtips{
                animation: DTtips 1s linear infinite alternate; 
                overflow: hidden;
                z-index: 3;
                border-radius: 50%;
                box-shadow: 0 0 50px 1px red;
            }
            @keyframes DTtips{
               0%{
                   transform: scale(1, 1);
                   box-shadow: 0 0 50px 1px #ccc;
               }
               100%{
                   transform: scale(1.05, 1.05);
                   box-shadow: 0 0 50px 1px red;
               }
            }
            @-webkit-keyframes DTtips{
               0%{
                   transform: scale(1, 1);
                   box-shadow: 0 0 50px 1px #ccc;
               }
               100%{
                   transform: scale(1.05, 1.05);
                   box-shadow: 0 0 50px 1px red;
               }
            }
            dd:nth-of-type(1){
                line-#{$h}: 0.814815rem;
                padding-right: 0.046296rem;
                min-#{$w}: 2.407407rem;
                text-align: left;
                white-space: wrap;
            }
            dd:nth-of-type(2){
                line-#{$h}: 0.814815rem;
                padding-left: 0.046296rem;
                #{$w}: 3.518519rem;
                text-align: left;
                span:nth-of-type(1){
                    color: #0DB80A;
                }
            }
            dd:nth-of-type(3){
                line-#{$h}: 0.814815rem;
                min-#{$w}: 2.407407rem;
                text-align: left;
                span{
                    color: #0DB80A;
                }
            }
            dd:nth-of-type(4){
                line-#{$h}: 0.814815rem;
                padding-right: 0.0rem;
                #{$w}: 3.518519rem;
                i{
                    display: inline-block;
                    #{$w}: 0.481481rem;
                    #{$h}: 0.490741rem;
                    margin-right: 0.111111rem;
                    position: relative;
                    left: 0;
                    top: 46%;
                    #{$tf}: translate(0, -50%);
                    #{$bg}: $roomAll -2.962963rem -1.527778rem no-repeat;
                    #{$bg}-size: $w600;
                }
            }
            dd:nth-of-type(5){
                #{$h}: 0.666667rem;
                line-#{$h}: 0.648148rem;
                #{$w}: 2.222222rem;
                border-radius: 0.333333rem;
                box-shadow: 0px 0.018519rem 0.027778rem 0.009259rem #2F2F25;
                position: absolute;
                right: 0.092593rem;
                top: 50%;
                #{$tf}: translate(0, -50%);
                #{$bg}: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#26CD4A), to(#108721));
                #{$bg}: -webkit-linear-gradient(top, #26CD4A, #108721);
                i{
                    display: inline-block;
                    #{$w}: 0.361111rem;
                    #{$h}: 0.361111rem;
                    margin-right: 0.0rem;
                    position: relative;
                    left: 0;
                    top: 50%;
                    #{$tf}: translate(0, -76%);
                    #{$bg}: $roomAll -3.703704rem -1.574074rem no-repeat;
                    #{$bg}-size: $w600;
                }
            }
            dd:last-child{
                color: #fff;
                #{$h}: 0.555556rem;
                font-size: $fsize30;
                line-#{$h}: 0.555556rem;
                #{$bg}: #222;
                opacity: 0.6;
                border-radius: 0.259259rem;
                position: absolute;
                right: 0.0rem;
                margin-right: 0.12963rem;
                bottom: -0.666667rem;
                #{$w}: 80%;
                overflow:hidden;
                span{
                    float: left;
                    font-size: $fsize30;
                    line-#{$h}: 0.555556rem;
                    padding-left: 0.87037rem;

                }
                i{
                    position: absolute;
                    left: 0.0rem;
                    top: 50%;
                    margin-left: 0.018519rem;
                    #{$tf}: translate(-20%,-50%);
                    text-align: left;
                    left: 0.240741rem;
                    display: inline-block;
                    #{$w}: 0.5rem;
                    #{$h}: 0.435185rem;
                    #{$bg}: $homeAll -2.222222rem 0.0rem no-repeat;
                    #{$bg}-size: $w600;
                }
            }  
        }
    }
    .roomMain{
        flex: 1;
        padding: 1.203704rem 0 0.62963rem;
        margin-bottom: -0.185185rem;
        #{$bg}: $room07 no-repeat;
        #{$bg}-size: 100%;
        display: flex;
        justify-content: space-between;
        @mixin LR {
            border-radius: 0.055556rem;
            #{$w}: 1.537037rem;
            #{$h}: 100%;
            padding-top: 0.055556rem;
            #{$bg}-origin: content-box;
            ul {
                display: flex;
                flex-direction: column;
                #{$bg}: $room02 no-repeat;
                #{$bg}-size: 100%;
                border-radius: 0.046296rem;
                #{$w}: 1.537037rem;
                
                li{
                    #{$w}: 100%;
                    #{$h}: 1.787037rem;
                    &>div {
                        #{$w}:1.388889rem;
                        #{$h}:1.435185rem;
                        position: relative;
                        left:50%;
                        top: 50%;
                        #{$tf}: translate(-50%, -55%);
                        
                        &>.leftZhuan {
                            position: absolute;
                            left: 0.559259rem;
                            top: -0.404815rem;
                            #{$w}: 1.185185rem;
                            #{$h}: 0.777778rem;
                            z-index: 3;
                        }
                        &>img:nth-of-type(1) {
                            #{$w}: 1.296296rem;
                            #{$h}: 1.296296rem;
                            position: absolute;
                            left:50%;
                            top: 50%;
                            #{$tf}: translate(-50%, -55%);
                            z-index: 2;
                        }
                        &>img:nth-of-type(2) {
                            #{$w}: 0.676296rem;
                            #{$h}: 0.676296rem;
                            position: absolute;
                            left: -0.027778rem;
                            top: -0.027778rem;
                            z-index: 3;
                        }
                        &>span {
                            color: #fff;
                            position: absolute;
                            left: 0.17963rem;
                            top: 0.08037rem;
                            font-size: 0.333333rem;
                            z-index: 3;
                        }
                    }
                    p {
                        font-size: $fsize24;
                        color: #fff;
                        padding-top: 0.05rem;
                    }
                    // 左边图片
                    .leftImg {
                        #{$w}: 1.296296rem;
                        #{$h}: 1.296296rem;
                        position: absolute;
                        left:50%;
                        top: 50%;
                        #{$tf}: translate(-50%, -55%);
                        overflow: hidden;
                        border-radius: 38px;
                        img {
                            #{$w}: 100%;
                            #{$h}: 100%;
                        }
                        img:nth-of-type(1) {
                            z-index: 1;
                        }
                        span{
                            @extend .pub;

                        }
                    }
                }
            }
        }

        // @include xx
        .left {
            position: relative;
            @include LR;
            ul{
                #{$h}: 12.037037rem;
                li:first-child {
                    #{$h}: 2.148148rem;
                    #{$bg}-color: #3D3D3D;
                    border-radius:0.046296rem 0.046296rem 0px 0px;
                    p{
                       padding-top: 0.265rem;
                    }
                    border: 2px solid transparent;
                    box-sizing: border-box;
                }
                
                li:last-child {
                    #{$w}: 1.388889rem;
                    #{$h}: $h56;
                    border-radius: 0.259259rem;
                    line-#{$h}: $h56;
                    text-align: center;
                    font-size: $fsize30;
                    #{$bg}: $roomAll 0px -1.481481rem no-repeat;
                    #{$bg}-size: $w600;
                    color: #6E410F;
                    font-weight: bold;
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    #{$tf}: translate(-50%, -50%);
                }
                li:last-child.win {
                    background: url('../../img/chart_list3.png') no-repeat;
                    #{$bg}-size: 1.388889rem 0.518519rem;
                    color: #fff;
                }
                li:first-child.tips{
                    box-sizing: border-box;
                    box-shadow: 0 0 0.092593rem 0.018519rem #fff inset;
                    animation: zhuanTips .5s linear infinite alternate;
                }
                @keyframes zhuanTips{
                   0%{
                       border: 0.0rem solid red;
                   }
                   100%{
                        border: 0.012259rem solid red;
                   }
                }
                @-webkit-keyframes zhuanTips{
                   0%{
                       border: 0.0rem solid red;
                   }
                   100%{
                        border: 0.012259rem solid red;
                   }
                }
                li:last-child.zhuan {
                    background: #ccc;
                }
            }
            &>span {
                position: absolute;
                left: 110%;
                top: 10px;
                font-size: 60px;
                weight: 600;
            }
            .shu {
                color: red;
                animation: shuyin 3s linear 2; 
            }
            .yin {
                color: #0ad80a;
                opacity: 0;
                animation: shuyin 3s linear 2; 
            }
            @keyframes shuyin{
                0%{
                    top: 50px;
                    opacity: 0;
                }
                30%{
                    top: 0px;
                    opacity: 1;
                }
                60%{
                    top: 0px;
                    opacity: 1;
                }
                100%{
                    top: -50px;
                    opacity: 0;
                }
            }
        }
        .center {
            position:relative;
            bottom:0.277778rem;
            flex: 1;
            margin-bottom:10px;
            h1{
                font-size:0.444444rem;
                span{
                    color:red;
                }
            }
            p{
                font-size:$fsize38;
                color:#508F31;
            }
            p.showTime {
                visibility: hidden;
            }
            ul{
                li{
                    clear: both;
                    border-radius:0.092593rem;
                    border:0.037037rem solid #DFDEDC;
                    &>img {
                        float:left;
                        margin-left:0.046296rem;
                        #{$h}: 1.314815rem;
                        weight: 0.916667rem;
                    }
                    span{
                        flex: 1;
                        font-size: $fsize30;
                        float:right;
                        text-align:left;
                        text-align: center;
                        b{
                            text-align: center;
                            display: block;
                        }
                        b:nth-of-type(2){
                            color: red;
                        }
                    }
                }
                
                li.a5{
                    #{$w}:6.388889rem;
                    #{$h}:1.388889rem;
                    padding:0.314815rem 0px 0.296296rem 0.231481rem;
                    margin-left:0.092593rem;
                    margin-top:0.092593rem;
                    position: relative;
                    span{
                        position:relative;
                        padding-right:0.185185rem;
                        text-align: left;
                        margin-top: -0.092593rem;
                        b:nth-of-type(1){
                            display:inline-block;
                            #{$w}:1.0rem;
                            #{$h}:0.62037rem;
                            line-#{$h}:0.833333rem;
                            #{$bg}:$roomAll -1.481481rem -2.222222rem no-repeat;
                            #{$bg}-size: $w600;
                            color:#FBDD2A;
                            font-size:0.259259rem;
                            text-align: center;
                            visibility: hidden;
                        } 
                        b.showoff {
                            visibility: visible;
                            animation: inputmove .1s linear 6; 
                        }
                        @keyframes inputmove{
                           0%{
                               #{$tf}: translate(-5%, 0%);
                           }
                           100%{
                               #{$tf}: translate(5%, 0%);
                           }
                        }
                        @-webkit-keyframes inputmove{
                           0%{
                               #{$tf}: translate(-5%, 0%);
                           }
                           100%{
                               #{$tf}: translate(5%, 0%);
                           }
                        }
                    }
                }
                li.bgccc {
                    #{$bg}: $bgColor;
                }
                li.bgccc.bg {
                    border:0.046296rem solid #F9BA6A;
                    #{$bg}: none;
                    #{$ts}: all 2s;
                    b{
                        display: none;
                    }
                    b:first-child {
                        visibility: visible;
                        color: #8F4C06;
                        display: block;
                        position: relative;
                        #{$tf}: translate(-4%, 30%);
                        #{$w}: 1.148148rem;
                        #{$h}: 0.777778rem;
                        line-#{$h}: 1.018519rem;
                        #{$bg}: $room04 no-repeat;
                        #{$bg}-size: 1.148148rem 0.777778rem;
                        #{$ts}: all 1s;
                    }
                }
                li.b7.bgccc.bg {
                    b:first-child {
                        #{$tf}: translate(5%, 30%);
                        #{$bg}: $room04 no-repeat;
                        #{$bg}-size: 1.148148rem 0.777778rem;
                        #{$ts}: all 1s;
                    }
                    b.showoff {
                        visibility: visible;
                        animation: Bmove .1s linear 6; 
                    }
                    @keyframes Bmove{
                       0%{
                           #{$tf}: translate(-5%, 30%);
                       }
                       100%{
                           #{$tf}: translate(5%, 30%);
                       }
                    }
                    @-webkit-keyframes Bmove{
                       0%{
                           #{$tf}: translate(-5%, 30%);
                       }
                       100%{
                           #{$tf}: translate(5%, 30%);
                       }
                    }
                }
                li.b7{
                    #{$h}:1.342593rem;
                    #{$w}:6.666667rem;
                    padding-top:0.074074rem;
                    margin-left:0.092593rem;
                    margin-top:0.138889rem;
                    position: relative;
                    
                    span{
                        text-align: center;
                        b:nth-of-type(1){
                            display:inline-block;

                            #{$w}:1.0rem;
                            #{$h}:0.62037rem;
                            line-#{$h}:0.833333rem;
                            #{$bg}:$roomAll -1.481481rem -2.222222rem no-repeat;
                            #{$bg}-size: $w600;
                            color:#FBDD2A;
                            font-size:0.259259rem;
                            visibility: hidden;
                        }  
                        b:nth-of-type(2){
                            // color:black;
                            color: red;
                        }
                        // ----
                        b.showoff {
                            visibility: visible;
                            animation: inputmove .1s linear 6; 
                        }
                        @keyframes inputmove{
                           0%{
                               #{$tf}: translate(-5%, 0%);
                           }
                           100%{
                               #{$tf}: translate(5%, 0%);
                           }
                        }
                        @-webkit-keyframes inputmove{
                           0%{
                               #{$tf}: translate(-5%, 0%);
                           }
                           100%{
                               #{$tf}: translate(5%, 0%);
                           }
                        }
                        // ------
                        position:relative;
                        margin-right:0.277778rem;
                    }
                }
            }
        }
        //showTime
        .right {
            @include LR;
            position: relative;
            #{$h}: 12.037037rem;
            ul {
                overflow-y: auto;
                overflow-x: hidden;
                width: 100%;
                // display: flex;
                flex-direction: column;
                #{$h}: 100%;
            }
            ul::-webkit-scrollbar{display: none;}
        }
    }
    // 底部
    footer{
        // #{$h}: 1.268519rem;
        #{$h}: 1.268519rem;
        z-index: 1;
        border-top: 0.064815rem solid #474747;
        border-top-left-radius: 0.240741rem;
        border-top-right-radius: 0.240741rem;
        #{$bg}: #2B2B2B;
        .roomScore{
            position: relative;
            right: 0;
            top: -0.037037rem;
            #{$w}: 2.444444rem;
            #{$h}: 1.268519rem;
            border-top: 0.064815rem solid #3A8C4A;
            border-top-right-radius: 0.240741rem; 
            #{$bg}:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#12B633), to(#0D7B22));/*谷歌*/ 
            #{$bg}: -webkit-linear-gradient(top, #12B633, #0D7B22);   /*Safari5.1 Chrome 10+*/
        }
        ul {
            z-index: 2;
            display: flex;
            #{$h}: 100%;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            font-size: 0.444444rem;
            li {
                flex: 1;
                text-align: center;
                a { color: #fff; }
            }
            li:last-child {
                display: flex;
                flex-direction: column;
                justify-content: center;
                z-index: 3;
                b{
                    font-size: $fsize38;
                    line-#{$h}: $fsize38;
                }
                b:first-child{
                    color: #FDFF67;
                    padding-bottom: 0.092593rem;
                    position: relative;
                    left: 50%;
                    transform: translate(-52%,0);
                    span{
                        position: absolute;
                        right: 20px;
                    }
                }
                b:first-child.a{
                    transform: translate(-60%,0);
                    transition: all 1.5s;
                }
                b:last-child{
                    padding-top: 0.092593rem;
                    color: #03360B;

                }
            }
        }
    }   
}



// 原始样式
@mixin imgSTA{
    float: none;
    margin: 0;
    position: absolute;
    #{$h}: 0px;
    #{$w}: 0px;
    top: -0.925926rem;
    right: 0.157407rem;
    z-index: 99;
}
// 小牌样式
@mixin img5 {
    #{$h}: 1.314815rem;
    #{$w}: 0.916667rem;
    top: 0.277778rem;
    #{$tf}: translate(-400%, 0px);
}
@mixin img7 {
    #{$h}: 1.314815rem;
    #{$w}: 0.916667rem;
    top: 0.074074rem;
    #{$tf}: translate(-400%, 0px);
}
// 出牌时间统一
@mixin timeStart {  #{$ts}: all 0.5s linear;  }
/* @mixin time01    {   
    #{$ts}-duration: .6s;
    #{$ts}-timing-function: cubic-bezier(.68,-.55,.265,1.55); 
    #{$ts}-delay: 0s;
}
@mixin time02    {   
    #{$ts}-duration: .6s;
    #{$ts}-timing-function: cubic-bezier(.68,-.55,.265,1.55); 
    #{$ts}-delay: .2s;
}
@mixin time03    {   
    #{$ts}-duration: .6s;
    #{$ts}-timing-function: cubic-bezier(.68,-.55,.265,1.55); 
    #{$ts}-delay: .4s;
}
@mixin time01    {   
    #{$ts}-duration: .6s;
    #{$ts}-timing-function: cubic-bezier(.68,-.55,.265,1.55); 
    #{$ts}-delay: .6s;
}
@mixin time01    {   
    #{$ts}-duration: .6s;
    #{$ts}-timing-function: cubic-bezier(.68,-.55,.265,1.55); 
    #{$ts}-delay: .8s;
} */
@mixin time01    {  #{$ts}: all 0.6s linear;  }
@mixin time02    {  #{$ts}: all 0.6s linear .2s; }
@mixin time03    {  #{$ts}: all 0.6s linear .4s;  }
@mixin time04    {  #{$ts}: all 0.6s linear .6s;  }
@mixin time05    {  #{$ts}: all 0.6s linear .8s;  }
// 出牌翻转
@mixin card {
    img.initNum {
        #{$tf}: translate(-400%, 0px) rotateY(180deg);
        z-index: -100;
    }
    // 卡牌翻转动效
    img.reversal {
        #{$tf}: translate(-400%, 0px) rotateY(90deg);
        #{$ts}: all .6s ease-in-out;
        // #{$ts}: all 2s cubic-bezier(0.68,-.55,.265,1.55);
        // #{$ts}: all 4s linear;
        // cubic-bezier(0.68,-.55,.265,1.55)
        // #{$ts}-duration: .8s;
        // #{$ts}-timing-function: cubic-bezier(0.68,-.55,.265,1.55);
    }
    // 翻牌
    img.reveEnd {
        z-index: 99;
        #{$tf}: translate(-400%, 0px) rotateY(360deg);
        #{$ts}: all 1.2s linear;
        // #{$ts}: all 2s ease-in-out;
        // #{$ts}: all 4s cubic-bezier(0.68,-.55,.265,1.55);
        // #{$ts}-duration: 1.6s;
        // #{$ts}-timing-function: cubic-bezier(0.68,-.55,.265,1.55);
    }
}

//show
.testCard.a5{
    img {
        @include imgSTA;
    }
    // 卡牌出现
    img.start {
        #{$h}: 1.592593rem;
        #{$w}: 1.148148rem;
        @include timeStart;
    }
    // 发牌动效
    img.card01 {
        @include img5;
        right: 1.777778rem;
        @include time01;
    }
    img.card02 {
        @include img5;
        right: 0.814815rem;
        @include time02;
    }
    img.card03 {
        @include img5;
        right: -0.175926rem;
        @include time03;
    }
    img.card04 {
        @include img5;
        right: -1.12963rem;
        @include time04;
    }
    img.card05 {
        @include img5;
        right: -2.101852rem;
        @include time05;
    }
    @include card;
}
.testCard.b7{
    img {
        @include imgSTA;
        right: 0.407407rem;
    }
    // 卡牌出现
    img.start {
        #{$h}: 137.1.274074rem;//0.8
        #{$w}: 99.0.918519rem;
        @include timeStart;
    }
    img.card01 {
        @include img7;
        right: 2.037037rem;
        @include time01;
    }

    img.card02 {
        @include img7;
        right: 1.111111rem;
        @include time02;
    }
    img.card03 {
        @include img7;
        right: 0.148148rem;
        @include time03;
    }
    img.card04 {
        @include img7;
        right: -0.851852rem;
        @include time04;
    }
    img.card05 {
        @include img7;
        right: -1.851852rem;
        @include time05;
    }
    @include card;
}

ul{
    .testCard.three{
        img:nth-of-type(6){
            #{$tf}: translate(-400%, 0px) rotateY(90deg);
            #{$ts}: all .6s ease-in-out;
        }
        img:nth-of-type(7){
            #{$tf}: translate(-400%, 0px) rotateY(90deg);
            #{$ts}: all .6s ease-in-out;
        }
        img:nth-of-type(8){
            #{$tf}: translate(-400%, 0px) rotateY(90deg);
            #{$ts}: all .6s ease-in-out;
        }
        img:nth-of-type(1){
            z-index: 99;
            #{$tf}: translate(-400%, 0px) rotateY(360deg);
            #{$ts}: all 1.2s linear;
        }
        img:nth-of-type(2){
            z-index: 99;
            #{$tf}: translate(-400%, 0px) rotateY(360deg);
            #{$ts}: all 1.2s linear;
        }
        img:nth-of-type(3){
            z-index: 99;
            #{$tf}: translate(-400%, 0px) rotateY(360deg);
            #{$ts}: all 1.2s linear;
        }
        // 点击暂时(temporary)翻开
        .beimian {
            #{$tf}: translate(-400%, 0px) rotateY(90deg);
            #{$ts}: all .6s ease-in-out;
        }
        .beimian02 {
            #{$tf}: translate(-400%, 0px) rotateY(0deg);
            #{$ts}: all .6s ease-in-out;
        }
        .temporary {
            z-index: 99;
            #{$tf}: translate(-400%, 0px) rotateY(360deg);
            #{$ts}: #{$tf} 1.2s linear;
        }
        .temporary02 {
            z-index: 99;
            #{$tf}: translate(-400%, 0px) rotateY(180deg);
            #{$ts}: #{$tf} 1.2s linear;
        }
    }
    .testCard.threeEng{
        img:nth-of-type(9){
            #{$tf}: translate(-400%, 0px) rotateY(90deg);
            #{$ts}: all .6s ease-in-out;
        }
        img:nth-of-type(10){
            #{$tf}: translate(-400%, 0px) rotateY(90deg);
            #{$ts}: all .6s ease-in-out;
        }
        img:nth-of-type(4){
            z-index: 99;
            #{$tf}: translate(-400%, 0px) rotateY(360deg);
            #{$ts}: all 1.2s linear;
        }
        img:nth-of-type(5){
            z-index: 99;
            #{$tf}: translate(-400%, 0px) rotateY(360deg);
            #{$ts}: all 1.2s linear;
        }
    }
    
}