@import '../../utils/baseVar.scss'; 

#home{
    height: 100%;
    width: 100%;
    position:fixed;
    left:0;
    top:0;
    overflow: hidden;
    background: $room07 no-repeat;
    background-size: 100% 100%;
    @include flexbox();
    @include direction(column);
    overflow-x: hidden;
    overflow-y: auto;
    header{
        height: 3.5rem;
        background: #2F2E34;
        padding: 0.953704rem 0.240741rem 0;
        @include box-sizing();
        dl{
            width: 100%;
            color: #fff;
            padding-bottom: 0.277778rem;
            dt{
                float: left;
                width: 1.509259rem;
                img{
                    width:1.4rem;
                    height:1.5rem;
                    margin-right: 0.2rem;
                }
            }
            dd:nth-of-type(1){
                padding-top: 0.166667rem;
                overflow: hidden;
                span:first-child{
                    float: left;
                    font-size: 0.425926rem;   
                }
                span:last-child{
                    float: right;
                    font-size: 0.425926rem;
                    position: relative;
                    i{
                        display: block;
                        height: 0.444444rem;
                        width: 0.5rem;
                        position: absolute;
                        left: 0.0rem;
                        top: 50%;
                        -webkit-transform: translate(-120%, -50%);
                           -moz-transform: translate(-120%, -50%);
                            -ms-transform: translate(-120%, -50%);
                             -o-transform: translate(-120%, -50%);
                                transform: translate(-120%, -50%);
                        // margin-top: -2px;
                        background: $homeAll -1.111111rem 0.0rem no-repeat;
                        background-size:5.555556rem;
                    }
                }
            }
            dd:nth-of-type(2){
                overflow: hidden;
                text-align: left;
                padding-top: 0.12963rem;
                span:first-child{
                    float: left;
                    font-size: 0.425926rem;
                    padding: 0.009259rem 0;
                    margin-right: 0.407407rem;
                    padding-top: 0.037037rem;
                }
                span:last-child{
                    // border: 2px solid #fff;
                    display: inline-block;
                    width: 2.851852rem;
                    height: 0.518519rem;
                    position: relative;
                    background: #454350;
                    @include border-radius(0.092593rem);
                    i{
                        display: inline-block;height: 0.5rem;
                        width: 1.0rem;
                        float: left;
                        margin-top: 0.055556rem;
                    }
                    i:nth-of-type(1){
                        background: $homeAll 0.0rem 0.0rem no-repeat;
                        background-size: 5.555556rem 5.555556rem;
                        font-size: 0.333333rem;
                        text-align: center;
                        font-style:normal;
                        line-height: 0.5rem;
                        height: 0.5rem;
                        color: #9D570F;
                        font-weight: 600;
                        position:relative;
                        bottom:0.046296rem;
                    }
                    i:nth-of-type(2){
                        height: 0.287037rem;
                        width: 0.287037rem;
                        background: $homeAll -1.759259rem 0.0rem no-repeat;
                        background-size:  5.555556rem 5.555556rem;
                        float: right;
                        position: absolute;
                        top: 43%;
                        right: 0.092593rem;
                        -webkit-transform: translate(0,-50%);
                           -moz-transform: translate(0,-50%);
                            -ms-transform: translate(0,-50%);
                             -o-transform: translate(0,-50%);
                                transform: translate(0,-50%);
                    }
                    b{
                        display: inline-block;
                        line-height:1rem;
                        width: 1.296296rem;
                        font-width: 200;
                        font-size: 0.314815rem;
                        text-align: center;
                        position:relative;
                        -webkit-transform: translate(0,-22%);
                           -moz-transform: translate(0,-22%);
                            -ms-transform: translate(0,-22%);
                             -o-transform: translate(0,-22%);
                                transform: translate(0,-22%);
                    }
                }
            }
        }
         p{
            overflow:hidden;
            @include border-radius(0.925926rem);
            .auto{
                border-radius:100px;
                color: #fff;
                width:100%;
                height:0.537037rem;
                background: #171719;
                position: absolute;
                span{
                    float: left;
                    font-size: 0.277778rem;
                    line-height: 0.555556rem;
                    position: relative;
                    left: 0.648148rem;
                }
                i{
                    position: absolute;
                    left: 0;
                    top: 50%;
                    -webkit-transform: translate(-20%,-50%);
                       -moz-transform: translate(-20%,-50%);
                        -ms-transform: translate(-20%,-50%);
                         -o-transform: translate(-20%,-50%);
                            transform: translate(-20%,-50%);
                    text-align: left;
                    left: 0.240741rem;
                    display: inline-block;
                    width: 0.527778rem;
                    height: 0.462963rem;
                    background: $homeAll -2.222222rem 0.0rem no-repeat ;
                    background-size:5.555556rem;
                }
            }
        }
        
        .homeServer{
            background: $homeAll 0.0rem -0.740741rem no-repeat;
            background-size:  5.555556rem 5.555556rem;
            width: 0.481481rem;
            height: 2.240741rem;
            position: fixed;
            right: 0.0rem;
            top:1.666667rem;
            color:white;
            -webkit-text-shadow: black 0.027778rem 0.018519rem;
            -moz-text-shadow: black 0.027778rem 0.018519rem;
            -ms-text-shadow: black 0.027778rem 0.018519rem;
            -o-text-shadow: black 0.027778rem 0.018519rem;
            text-shadow: black 0.027778rem 0.018519rem;
            vertical-align: middle;
            font-size: 0.37037rem;
            line-height: 0.555556rem;
            z-index: 10;
            a{color: #fff;}
            b{
                position: fixed;
                right: 0.037037rem;
                top:2.222222rem;
            }
        }
        .homeSwipe {
            overflow: hidden;
            position: relative;
            @include box-sizing();
            z-index: 0;
        }
    }
    // 主体
    .homeMain{
        // 隐藏滚动条ios
        -webkit-overflow-scrolling: touch;
        // padding-bottom等于20px并非固定值，只要你的设置的值大小足够将滚动条挤出可视区域即可
        padding-bottom: 0.185185rem;
        
        flex: 1;
        overflow-y: auto;
        // z-index: 3;
        &>span>div{
            -webkit-transform: translate(0, -50px);
               -moz-transform: translate(0, -50px);
                -ms-transform: translate(0, -50px);
                 -o-transform: translate(0, -50px);
                    transform: translate(0, -50px);
        }
        ul{
            padding: 1%;
            @include flexbox();
            @include justify-content(flex-start);
            @include direction(row);
            @include flex-wrap(wrap);
            padding-left: 0.185185rem;
            &.ul01{
                padding-bottom: 80px;
                @include transition(all,1s);
            }
            
            li{
                width: 32.4%;
                height: 2.777778rem;
                margin-top: 0.166667rem;
                background: $home01 no-repeat;
                background-size: cover;
                background-position:center;
                background-size: 3.166667rem 2.777778rem;
                margin-right:0.075rem;
                b{
                    display: block;
                    background: $homeAll -2.777778rem 0.0rem no-repeat;
                    background-size: 5.555556rem 5.555556rem;
                    height: 0.833333rem;
                    width: 0.87037rem;
                    float: right;
                    position: relative;
                    bottom:0.037037rem;
                    left:0.092593rem;
                }
                i{
                    display:block;
                    height: 1.37037rem;
                    width: 1.666667rem;
                    background: $homeAll -3.703704rem 0.0rem no-repeat;
                    background-size: 5.555556rem 5.555556rem;
                    position: relative;
                    left: 50%;
                    -webkit-transform: translate(-50%,0);
                       -moz-transform: translate(-50%,0);
                        -ms-transform: translate(-50%,0);
                         -o-transform: translate(-50%,0);
                            transform: translate(-50%,0);
                }
                h4{
                    color: #fff;
                    font-size: 0.259259rem;
                }
                div{
                    padding: 0.185185rem 0.259259rem 0.074074rem ;
                    position: relative;
                    bottom: 0;
                    h5{
                        color: #fff;
                        font-weight: 200;
                        font-size: 0.3rem;
                        line-height: 0.32rem;
                        margin: 0;
                        padding-bottom: 0.046296rem;
                        // 文字
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    p{
                        font-size: 0.296296rem;
                        color: #C4C4C4;
                        @include flexbox();
                        @include justify-content(space-between);
                        span{
                            font-size: 0.27rem;
                            line-height: 0.46rem;
                            text-align: right;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        span:nth-of-type(1){
                            flex: 1;
                            text-align: center;
                        }
                        span:nth-of-type(2){
                            flex: 1;
                            text-align: left;
                        }
                    }
                    .roomNum{color: #2FAB51;}
                }
            }
        }
    }
    .homeMain::-webkit-scrollbar {
        -webkit-overflow-scrolling: touch;
        display: none;
    } 
    // 底部
    footer{
        height: 1.277778rem;
        font-size:0.462963rem;
        border-top: 0.064815rem solid #474747;
        border-top-left-radius: 0.240741rem;
        border-top-right-radius: 0.240741rem;
        background: #2B2B2B;
        z-index: 99;
        ul{
            z-index: 99;
            @include flexbox();
            @include justify-content(space-around);
            @include align-itwms(center);
            height: 100%;
            color: #fff;
            li {
                a{
                    color: #fff;
                }
            }
        }
    }
}